<%- include ('layouts/header.ejs') -%>
<div class="text-center contenedor">
  <h1>Honkai: Star Rail</h1>
</div>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
  <p>Honkai: Star Rail es un RPG de estrategia de HoYoverse (llamado miHoYo en China), anunciado a finales de 2021 para Microsoft Windows, iOS y Android.1​ Como la cuarta entrega principal del la serie Honkai, el juego se sitúa en el universo de Honkai Impact 3rd, siguiendo las aventuras de un grupo de personajes que viajan a bordo de un tren espacial.2​ Su lanzamiento oficial fue el 26 de abril de 20233​ para Windows y dispositivos móviles. </p>
</div>

<%- include ('layouts/footer.ejs') -%>
